
html, body{
  /* width: 100vw; */
  overflow-x: hidden;
}

header h1 { float: none; padding: 0; position: absolute; top: 30px; left: 50%; transform: translateX(-50%); position: fixed; }
header h1 a { display: block; width: 147px; height: 16px; background: url(/images/header-img.png) no-repeat -120px -75px; z-index: 9999; }
header .left { padding: 52px 0 0 40px; }
header .all { top: 30px; left: 20px; display: block; position: fixed; width: 23px; height: 15px; border-top: 1px solid #FFF; border-bottom: 1px solid #FFF; color: transparent; }
header .all::before { content: ''; position: absolute; left: 0; top: 50%; width: 100%; height: 1px; background: #FFF; margin-top: -1px; }
header .left > div { float: none; }
header > ul { padding: 23px 20px 0 0; }
header > ul li .con, .faq, .join { display: none; }
header > ul li.join { display: block; }
header > ul li a { width: 80px; }
header > ul li a.join-m { display: block; border-radius: 50%; width: 25px; height: 25px; background: url(/images/header-img.png) no-repeat -4.5px -70px; }
.navbg { height:72px; }
header .nav { height: 50px; cursor: pointer; }
header .nav:hover { background: transparent; height: 0%; }

/* Mobile Menu */
nav { display: none; }

/** page 1 **/
/* MAIN TITLE */
.main_title { position: absolute; left: 50%; bottom: 35%; transform: translate(-50%,-50%); line-height: 40px; text-align: center; }
.main_title_top { font-size: 14px; color: #FFF; letter-spacing: 0px; font-family: 'GmarketSansLight'; }
.main_title_bottom { font-size: 14px; font-weight: bold; color: #FFF; line-height: 50px; letter-spacing: -3px; font-family: 'GmarketSansBold'; }

/** page 2 **/
/* ============= (1) stats */
.section_stats > .stats_content01 { position: relative; width: 100vw; height: 500px; overflow: hidden; }

.section_stats > .stats_content01 h2 { width: 100%; font-size: 18px; font-weight: bold; color: #FFF; letter-spacing: -1px; font-family: 'GmarketSansLight'; text-align: center; position: absolute; top: 10%; left: 0; right: 0; }
.section_stats > .stats_content01 img {
  display: block;
  width: 90vw;
  height: 250px;
  position: absolute;
  bottom: 20%;
  margin: auto;
  left: 0;
  right: 0;
}
/* ============= (2) stats */

.section_stats > .stats_content02 { position: relative; width: 100%; height: 200px; overflow: hidden; margin-top: 100px; }
/* .section_stats > .stats_content02 { position: relative; width: 90%; height: 200px; overflow: hidden; margin-top: 100px; } */

.stats_content02 img { height: 350px; float: left}
.stats_content02 p { font-size: 20px; font-weight: bold; color: rgb(129, 148, 253); letter-spacing: -1px; font-family: 'GmarketSansBold'; text-align: center; position: absolute; top: 0; left: 0; float: right; }
.stats_content02 h2 { width: 100%; font-size: 15px; font-weight: bold; color: #FFF; letter-spacing: 0px; font-family: 'GmarketSansBold'; line-height: 30px; text-align: left; position: absolute; top: 8%; left: 30px; transform: translateY(-50%); margin-top: 30px; float: right; }

/* ============= (3) stats */

.section_stats > .stats_content03 { position: relative; width: 100%; height: 200px; overflow: hidden; margin-top: 100px; }

.stats_content03 img { height: 400px; margin-right: -110px;}
.stats_content03 p { font-size: 20px; font-weight: bold; color: rgb(129, 148, 253); letter-spacing: -1px; font-family: 'GmarketSansBold'; text-align: center; position: absolute; top: 0; left: -94px; }
.stats_content03 h2 { width: 100%; font-size: 15px; font-weight: bold; color: #FFF; letter-spacing: 0px; font-family: 'GmarketSansBold'; line-height: 30px; text-align: left; position: absolute; top: 8%; left: -166px; transform: translateY(-50%); margin-top: 30px; }

/* ============= (4) stats */

.section_stats > .stats_content04 { position: relative; width: 100%; height: 200px; overflow: hidden; margin-top: 100px; }

.stats_content04 img {  height: 300px; margin-left: 200px; }
.stats_content04 p { font-size: 20px; font-weight: bold; color: rgb(129, 148, 253); letter-spacing: -1px; font-family: 'GmarketSansBold'; text-align: center; position: absolute; top: 0; left: 0; }
.stats_content04 h2 { width: 100%; font-size: 15px; font-weight: bold; color: #FFF; letter-spacing: 0px; font-family: 'GmarketSansBold'; line-height: 30px; text-align: left; position: absolute; top: 8%; left: 30px; transform: translateY(-50%); margin-top: 30px; }

/* ============= (5) stats */


.section_stats > .stats_content05 { position: relative; width: 100%; height: 200px; overflow: hidden; margin-top: 40px; margin-left: -30px; }

.stats_content05 p { font-size: 16px; font-weight: bold; color: rgb(129, 148, 253); letter-spacing: -1px; font-family: 'GmarketSansBold'; text-align: center; position: absolute; top: 0; left: 0; margin-left: 50px; }
.stats_content05 #coFff { margin-top: 30px; font-size: 14px; font-weight: bold; color: #FFF; letter-spacing: 0px; font-family: 'GmarketSansBold'; text-align: center; position: absolute; top: 0; left: 0; margin-left: 50px; }

.content_item { display: none; }

/* ============= (6) stats */
/* 반응형 (6) stats cols는 flippingCards.css에서 수정가능 */


/*  ============= scroll */

.scroll { display: none; }

/* ============= (6) stats */
.stats_content06 { margin-top: 0; }
.stats_content06 p {
    font-size: 30px;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    margin: 150px 0 0 -193px;
}

/* ============= Flipping Cards BG */

.background { display: none; }

/* ============= Consultation */
.consultation h1 { font-size: 24px; padding-top: 20px; height: 100px;}
.consultation > .consultation_container > .consultation_contact {  left: 50%; transform: translateX(-50%); width: 85px; height: 85px; top: 580px; }
.consultation > .consultation_container > .consultation_content01 { left: 30%; height: 85px; margin-left: 150px; }
.consultation > .consultation_container > .consultation_content02 { left: 30%; height: 85px; margin-left: 150px; }
.consultation > .consultation_container > .consultation_content03 { left: 30%; height: 85px; margin-left: 150px; }
.consultation > .consultation_container > .consultation_content04 { left: 30%; height: 85px; margin-left: 150px; }
.consultation > .consultation_container > .consultation_content01 span { left: 30%; height: 75px; }
.consultation > .consultation_container > .consultation_content02 span { left: 30%; height: 75px; }
.consultation > .consultation_container > .consultation_content03 span { left: 30%; height: 75px; }
.consultation > .consultation_container > .consultation_content04 span { left: 30%; height: 75px; }
.consultation > .consultation_container > .consultation_content01 h3 { font-size: 18px; margin: 18px 0 0 170px; }
.consultation > .consultation_container > .consultation_content02 h3 { font-size: 18px; margin: 18px 0 0 170px; }
.consultation > .consultation_container > .consultation_content03 h3 { font-size: 18px; margin: 18px 0 0 170px; }
.consultation > .consultation_container > .consultation_content04 h3 { font-size: 18px; margin: 18px 0 0 170px; }
.consultation > .consultation_container > .consultation_content01 h4 { font-size: 14px; margin: 45px 0 0 170px; }
.consultation > .consultation_container > .consultation_content02 h4 { font-size: 14px; margin: 45px 0 0 170px; }
.consultation > .consultation_container > .consultation_content03 h4 { font-size: 14px; margin: 45px 0 0 170px; }
.consultation > .consultation_container > .consultation_content04 h4 { font-size: 14px; margin: 45px 0 0 170px; }

/* ============= Footer */

footer { bottom: -5100px; } 

.footer_con1 { width: 100%;}
.footer_con2 { width: 100%; height: 440px; margin: 15px 0 0 15px; }
.footer_con3 { width: 100%; height: 440px; margin: 15px 0 0 15px; }
.footer_con4 { width: 100%; height: 440px; margin: 15px 0 0 15px; }

.footer_con1 h2 { color: rgba(255, 255, 255, 1); font-size: 15px; }
.footer_con1 p { color: rgba(255, 255, 255, 1); font-size: 8px; }

.footer_con2 > .footer_con2_item01,
.footer_con2 > .footer_con2_item02,
.footer_con3 > .footer_con3_item01,
.footer_con3 > .footer_con3_item02,
.footer_con4 > .footer_con4_item01 { padding: 15px 0 0 15px; }

.footer_con2 > .footer_con2_item01 h3,
.footer_con2 > .footer_con2_item02 h3,
.footer_con3 > .footer_con3_item01 h3,
.footer_con3 > .footer_con3_item02 h3,
.footer_con4 > .footer_con4_item01 h3 { font-size: 20px; }

.footer_con2 > .footer_con2_item01 a,
.footer_con2 > .footer_con2_item02 a,
.footer_con3 > .footer_con3_item01 a,
.footer_con3 > .footer_con3_item02 a,
.footer_con4 > .footer_con4_item01 a { font-size: 12px; line-height: 25px; }

.footer_con4 > .footer_con4_item02  span { font-size: 10px; line-height: -20px; }
.footer_con4 > .footer_con4_item02 { font-size: 10px; line-height: 5px; }

.consultation>.consultation_container > .consultation_contact:hover { top: 83%; }

@media screen and (max-width:1250px) {
    .consultation > .consultation_container > .consultation_content01 h3 { font-size: 15px; margin: 18px 0 0 170px; }
    .consultation > .consultation_container > .consultation_content02 h3 { font-size: 15px; margin: 18px 0 0 170px; }
    .consultation > .consultation_container > .consultation_content03 h3 { font-size: 15px; margin: 18px 0 0 170px; }
    .consultation > .consultation_container > .consultation_content04 h3 { font-size: 15px; margin: 18px 0 0 170px; }
    .consultation > .consultation_container > .consultation_content01 h4 { font-size: 10px; margin: 45px 0 0 170px; }
    .consultation > .consultation_container > .consultation_content02 h4 { font-size: 10px; margin: 45px 0 0 170px; }
    .consultation > .consultation_container > .consultation_content03 h4 { font-size: 10px; margin: 45px 0 0 170px; }
    .consultation > .consultation_container > .consultation_content04 h4 { font-size: 10px; margin: 45px 0 0 170px; }
}

@media screen and (max-width:1000px) {
    .consultation>.consultation_container>.consultation_content01 { width: 90%; margin-left: 0px; left: 50%; transform: translateX(-50%); }
    .consultation>.consultation_container>.consultation_content02 { width: 90%; margin-left: 0px; left: 50%; transform: translateX(-50%); }
    .consultation>.consultation_container>.consultation_content03 { width: 90%; margin-left: 0px; left: 50%; transform: translateX(-50%); }
    .consultation>.consultation_container>.consultation_content04 { width: 90%; margin-left: 0px; left: 50%; transform: translateX(-50%); }
    .consultation>.consultation_container > .consultation_contact { width: 90%; top: 520px; }
    
    .consultation > .consultation_container > .consultation_content01 h3 { margin-left: 150px; }
    .consultation > .consultation_container > .consultation_content02 h3 { margin-left: 150px; }
    .consultation > .consultation_container > .consultation_content03 h3 { margin-left: 150px; }
    .consultation > .consultation_container > .consultation_content04 h3 { margin-left: 150px; }
    .consultation > .consultation_container > .consultation_content01 h4 { margin-left: 150px; }
    .consultation > .consultation_container > .consultation_content02 h4 { margin-left: 150px; }
    .consultation > .consultation_container > .consultation_content03 h4 { margin-left: 150px; }
    .consultation > .consultation_container > .consultation_content04 h4 { margin-left: 150px; }
    .stats_content06 p { left: 50%; transform: translateX(-50%); }
    .consultation>.consultation_container > .consultation_contact:hover { top: 73%; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; background: #252525;  }
    button.cs_suport_btn{position: relative;}
}


@media screen and (max-width:880px) {
    body { height: 100vh; }

    .main_title_bottom { width: 450px; font-size: 25px; }
    .cols { margin-bottom: 100px; }

    .footer_con1 h2 { color: rgba(255, 255, 255, 1); font-size: 23px; width: 70%; display: block; margin: 0 auto 0; }
    .footer_con1 p { color: rgba(255, 255, 255, 1); font-size: 12px; width: 70%; display: block; margin: 0 auto 0; }
    .footer_con1 div { color: rgba(255, 255, 255, 1); font-size: 12px; display: block; margin-left: auto; margin-right: auto; text-align: center; padding: 0; height: 50px; padding-top: -30px; }

    .footer_con2 > .footer_con2_item01,
    .footer_con2 > .footer_con2_item02,
    .footer_con3 > .footer_con3_item01,
    .footer_con3 > .footer_con3_item02,
    .footer_con4 > .footer_con4_item01 { padding: 35px 0 0 35px; width: 80%; display: block; margin-left: auto; margin-right: auto;}

    .footer_con2 > .footer_con2_item01 h3,
    .footer_con2 > .footer_con2_item02 h3,
    .footer_con3 > .footer_con3_item01 h3,
    .footer_con3 > .footer_con3_item02 h3,
    .footer_con4 > .footer_con4_item01 h3 { font-size: 25px; }

    .footer_con2 > .footer_con2_item01 a,
    .footer_con2 > .footer_con2_item02 a,
    .footer_con3 > .footer_con3_item01 a,
    .footer_con3 > .footer_con3_item02 a,
    .footer_con4 > .footer_con4_item01 a { font-size: 20px; line-height: 25px; }

    .footer_con4 > .footer_con4_item02  span { font-size: 13px;  margin-left: 25px;}
    .footer_con4 > .footer_con4_item02 { padding: 15px 0 0 35px; font-size: 13px; line-height: 15px; width: 80%; display: block; margin-left: auto; margin-right: auto;}
    .fax-link { margin-left: 26px; }
}

@media screen and (max-width:768px) { 
  footer { bottom: -5400px; } 
}


/* 모바일 사이즈 */
@media screen and (max-width: 576px) {
	.main_title_bottom { 
    font-size: 22px; 
    font-weight: bold; 
    color: #FFF; 
    line-height: 50px; 
    letter-spacing: -3px; 
    font-family: 'GmarketSansBold'; 
  }
  .section_stats > .stats_content01 h2 { font-size: 12px; }

}



/* ============= Footer */

footer { flex-direction:column; height: 1900px; justify-content: center; align-items: center; }

/* .footer_con1 { height: 150px; } */



