/* 모달창 미리 디자인 */
.black-background {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
    backdrop-filter: blur(7px);
    transform: translateX(-50%);
    left: 50%;
    color: #333;
}

.white-background {
    background: white;
    width: 100%;
    max-width: 300px;
    height: 30%;
    max-height: 300px;
    margin: auto;
    position: fixed;
    right: 0;
    left: 0;
    top: 10%;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}

.show {
    display: block;
}

.btn-wrap {
    width: 100%;
    height: 50px;
    /* background: gold; */
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}
.close-btn {
    cursor: pointer;
    display: block;
    border: none;
    background: none;
    font-size: 24px;
    transition: color .2s;
}
.close-btn:hover {
    color: #0298db;
}

.content {
    width: 100%;
    height: calc(100% - 50px);
    /* background: orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content h1 {
    margin: auto;
    font-size: 24px;
    animation: scale 2s infinite;
}
.brochure-info-text {
    margin-bottom: -10px;
}

.down-arrow {
    animation: down 1s infinite;
}

.download-btn {
    display: inline-block;
    width: 30%;
    padding: 10px 15px;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 0 auto 20px;
    color: #fff;
    cursor: pointer;
    transition: .4s;
    border: none;
    border-radius: 4px;
    background: #0298db;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.download-btn:hover {
    background-color: #0276aa;
}

@media screen and (max-width: 330px) {
    .download-btn {
        font-size: 14px;
        width: auto;
    }
    .white-background {
        width: 90%;
        max-width: 250px;
    }
}


@keyframes scale {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}

@keyframes down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}