/*^ 문의하기(Contact Us) */

.modal-bg {
  position: fixed;
  left: 0px;
  top: 0px;
  /* margin: 100px auto; */
  z-index: 999999;
  width: 100%;
  height: 100%;
  display: none;
  color: #fff;
}

.modal-inner {
  width: 800px;
  height: 100vh;
  margin: 10px auto 0;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  /* background: #eee; */
}

/*~ header ~*/
.modal-header {
	width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  border-bottom: 1px solid #c8c8c8;
	border-radius: 15px 15px 0 0;
}
.modal-title {
  font-size: 22px;
  font-family: "GmarketSansBold";
  padding-top: 5px;
}
.close-btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-size: 30px;
}

/*~ body ~*/
.modal-body {
	width: 100%;
  padding: 10px 10px 30px;
  font-family: "GmarketSansBold";
  background: #333;
	border-radius: 0 0 15px 15px;
}
.suport_des {
	text-align: center;
	font-size: 18px;
  margin: 15px 0 0 0;
}
.cs_contact_form {
	padding: 15px 30px;
}
/* input + select */
.modal-body form input[type="text"],
.contact-select {
  width: 100%;
  color: hsl(0, 0, 20);
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.chbox-wrap {
	display: block;
	margin-top: 20px;
	margin-bottom: -10px;
	float: left;
}
/* 제출버튼 */
.cs_suport_btn {
  font-family: "GmarketSansBold";
  font-size: 30px;
  width: 120px;
  height: 80px;
  border-radius: 5px;
	float: right;
	margin: 20px 0px -10px;
	cursor: pointer;
}

/*~ 태블릿, 모바일 사이즈에서 사이즈 조절 ~*/
@media screen and (max-width: 1200px) {
	.modal-inner { width: 700px; margin-top: 20px; }
	.suport_des { font-size: 16px; }
	.modal-body { padding-bottom: 30px; }
	.modal-body form input[type="text"], .contact-select {
		width: 100%;
		font-size: 12px;
	}
}

@media screen and (max-width: 768px) {
	.modal-inner { width: 500px; }
	.suport_des { font-size: 12px; }
	.modal-body form input[type="text"] {
		width: 100%;
		font-size: 13px;
	}
	.modal-body form label {
		font-size: 13px;
	}
	.cs_suport_btn {
		margin: 20px 160px 0 0;
		height: 40px;
	}
}

@media screen and (max-width: 576px) {
	.modal-inner { width: 100%; overflow-y: scroll;}
  .modal-header { height: 30px; }
  .modal-title { font-size: 13px; }
	.suport_des { font-size: 10px; }
	.modal-body form input[type="text"] {
		width: 100%;
    height: 16px;
		font-size: 11px;
	}
  .modal-body form select {
    width: 100%;
    height: 22px;
    font-size: 11px;
    padding: 0;
  }
	.modal-body form label {
		font-size: 11px;
	}
	.cs_suport_btn {
		margin: 30px 70px 0;
		height: 30px;
    font-size: 16px;
    display: block;
	}
}

